# Nextflow
.nextflow/
.nextflow.log*
work/
work_*/
*_work/
results/
results_*/
*_results/
*.nf.test*

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtualenvs
venv/
.venv/
env/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo
*~
